<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
   <header>
      <nav>
        <ul>
            <a href="https://github.com/brentleythegreat13694">Check Out my Projects!</a>
        </ul>
      </nav>
      <div class="flex-container">
        <img height="400px" width="300px" src="static/images/brentley1.jpg">
        <div class="text-container">
            <h1>About me</h1>
            <p>I'm Brentley, a 13-year-old programmer that loves computers. I've gained experience with several languages, including Python (and the Flask framework), C/C++, and Java. I love building new things, and my main goal is to attend MIT!</p>
            <a href="https://github.com/brentleythegreat13694" class="cta-button secondary">Checkout my Github!</a>
        </div>
      </div>
    </header>
    <section>
        <h2>Programming Languages I know</h2>
        
        <div class="language-logos-scroll">

           <div class="language-logos-container">

            <div class="logo-item">
              <img src="static/images/C_Logo.png">
                <p>C</p>
            </div>

            <div class="logo-item">
              <img src="static/images/python.png">
            <p>Python</p>
            </div>
            <div class="logo-item">
              <img src="static/images/java.png">
                <p>Java</p>
            </div>
            <div class="logo-item">
              <img src="static/images/C++.png">
               <p>C++</p>
            </div>
            <div class="logo-item">
              <img src="static/images/Html.png">
               <p>HTML 5</p>
            </div>
            <div class="logo-item">
              <img src="static/images/CSS.png">
                <p>CSS3</p>
            </div>
            <div class="logo-item">
              <img src="static/images/JavaScript.png">
               <p>Javascript</p>
            </div>
            <div class="logo-item">
              <img src="static/images/SQL.png">
                <p>SQL</p>
            </div>
            </div>
           </div>
        </div>
      </section>

    <section>
      <h2>Frameworks I know</h2>

      <div class="frameworks-logos-container">
        <div class="logo-item">
          <img src="static/images/Flask.png">
          <p>Flask</p>
        </div>

        <div class="logo-item">
          <img src="static/images/fastapi.png">
          <p>Fastapi</p>
        </div>
        <div class="logo-item">
          <img src="static/images/SQLAlchemy.png">
          <p>SQLAlchemy</p>
        </div>
        </div>
    </section>
    <section>
      <h2>The end!</h2>

      <div class="the-end-container">
        <div class="the-end-icons-text-container">
          <p>Thank you for viewing my portfolio!. Come back sometime to see what other cool stuff I make!</p>
          <img src="static/images/cat.png">
      </div>

      <footer>
        <div class="social-link-item">
          <a href="https://github.com/brentleythegreat13694" target="_blank">
          <img src="static/images/github.png" class="social-icon">
          <span>Check my Github!</span>
        </a>
        </div>
        <div class="social-link-item">
          <a href="https://discord.gg/QaMKKMS4ev" target="_blank">
            <img src="static/images/discord.png" class="social-icon">
          <span>Join our discord!</span>
          </a>
        </div>
      </footer>
    </section>
</body>
</html>
